* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
  margin-left: 1em;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

#header {
  background-color: #1f2937;
  color: #e5e7eb;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.brand > h1 {
  font-size: 24px;
}

.links,
.navbar {
  margin: 0 7em;
}

.links {
  display: flex;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 7em 9em 5em 9em;
}

.container-text {
  width: 70%;
}

.container-text > h1 {
  font-size: 48px;
  margin-bottom: 0.5em;
  width: 70%;
}

.container-text-p {
  font-size: 18px;
  width: 70%;
}

img {
  width: 40%;
}

.button {
  cursor: pointer;
  background-color: #3882f6;
  display: inline-block;
  padding: 0.4em 2em;
  margin: 1em 0;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .container {
    flex-wrap: wrap;
    padding: 3em;
  }
  .container-text > h1,
  .container-text,
  .container-text-p {
    width: 100%;
  }

  img {
    margin-top: 2em;
    width: 100%;
  }
}

/* RANDOM */

#random {
  margin: 5em;
}

.random-text {
  text-align: center;
  font-size: 36px;
  margin: 0 auto 1em auto;
  color: #1f2937;
  font-weight: 900;
}

.card {
  display: inline-block;
  width: 14%;
}

.cards-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card-body {
  display: inline-block;
  border: 3px solid #3882f6;
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

.card-desc {
  text-align: center;
  color: #686565;
}

/* QUOTE */

#quote{
    background-color: #e5e7eb;
    padding: 7em;
    align-items: center;
    color: #1f2937;
}


.quote-text{
    font-size: 36px;
    font-weight: 300;
    width: 75%;
    margin: auto
}

.author{
    float: right;
    margin: .5em 10em 0 0;
    font-weight: bolder;
    font-size: 22px;
}

#sign-up{
    padding: 5em;
}


.sign-up-contents{
    background-color: #3882f6;
    margin: auto;
    border-radius: 10px;
    display: inline-block;
    line-height: 1.5;
    display: flex;
    justify-content: space-around;
    padding: 2.5em 0;
    width: 80%;
}

.sign-up-text{
    display: inline-block;
    width: 50%;
}

.sign-up-text-one{
    color: #e5e7eb;
    font-size: 22px;
    font-weight: bold;
}

.sign-up-text-two{
    color: #ebe8e8;
}

.sign-up-button-text{
    color: #e5e7eb;
    padding: 5px 25px;
    border: 2px solid white;
    border-radius: 5px;
    height: 5%;
    cursor: pointer;
    margin-top: 20px;
}

/* FOOTER */


